*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#preSection{
  height: 100vh; 
  background-color: #ffffff;
  display: none;
  opacity: 0;
  transition: opacity 1s ease; /* Add a fade-out transition */
}
.pre_svg{
  margin: 24vh 10vh 24vh 11vh;
  width: 25vh;
  height: 50vh;
}
#mainSection{
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  /* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
  /* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
  header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    box-shadow: 0 0 10px 0 #ddd;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header > section{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3%;
  }
  .header_svg{
    width: 30px;
    height: 30px;
  }
  h1{
    font-size: 16px;
  }
  span{
    font-weight: lighter;
  }
  /* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER */
  /* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER */
  .menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 3%;
  }
  .menu-btn__burger{
    width: 20px;
    height: 3px;
    background: #555;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(243, 239, 239);
    transition: all .2s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #555;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(243, 239, 239);
    transition: all .2s ease-in-out;
  }
  .menu-btn__burger::before{
    transform: translateY(-7px); 
  }
  .menu-btn__burger::after{
    transform: translateY(7px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .menu-content {
    margin-left: 15%;
    padding: 0;
    width: 85%;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    z-index: 2;
    display: none;
    box-shadow: 0 10px 10px #eee;
    /* transition: all 5s ease-in-out; */
  }
  .menu-content.visible {
    display: block;
  }
  .menu-content ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: transparent;
  }
  .menu-content svg{
    width: 200%;
    height: 200%;
    opacity: 0.5;
  }
  li a {
    display: block;
    color: #555;
    padding: 8px 16px;
    text-decoration: none;
  }

  
  /* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY */
  /* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY */

  /* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT */
  /* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT */
  .about{
    text-align: center;
  }
  .about_main{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .pic_section{
    margin: 50px 0 0 0;
  }
  .profile_img{
    border-radius: 50%;
    box-shadow: 0px 0px 9px 7px #ddd;
    width: 75%;
    margin: 10px 12.5% 15px 12.5%;
  }
  .intro_section{
    text-align: center;
  }
  .intro_section > p{
    font-size: 85%;
    padding: 0 0 0 0;
    color: #aaa;
    width: 80%;
    margin: 0 10% 0 10%;
  }
  .intro_section > h1{
    color: #111;
    font-size: 150%;
    width: 80%;
    margin: 0 10% 10px 10%;
    padding: 0;
    line-height: 1.5;
  }
  .intro_section > h5{
    text-align: left;
    color: #777;
    width: 95%;
    margin: 0 0 0 5%;
    font-size: 100%;
    font-weight: lighter;
    line-height: 1.5;
    hyphens: auto;
  }
  .introbutt_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
  }
  .download_cv_btn{
    font-size: 16px;
    color: #777777;
    background-color: #ffffff;
    padding: 10px 30px;
    border: solid #800080 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0;
  }
  .download_cv_btn a{
    color: inherit;
    text-decoration: none;
  }
  .contact_btn{
    font-size: 16px;
    color: #777777;
    background-color: #ffffff;
    padding: 10px 23px;
    border: solid #ccc 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 0 0 0;
  }
  .under-intro{
    width: 80%;
    margin: 100px 10%;
  }
  .under-intro h2{
    text-align: left;
    margin: 0 0 30px 0;
  }
  .under-intro h2 hr{
    width: 35%;
  }
  .under-intro-mini-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 30px 0;
  }
  .under-intro-mini-section svg{
    width: 40px;
    height: 40px;
  }
  .under-intro-mini-section section{
    width: 80%;
    text-align: left;
  }
  .under-intro-mini-section section h4{
    color: #333;
    font-size: large;
    margin: 0 0 10px 0;
  }
  .under-intro-mini-section section p{
    color: #777;
    hyphens: auto;
    /* word-break: break-all; */
  }
  .facts-intro{
    width: 80%;
    margin: 100px 10%;
  }
  .facts-intro h2{
    text-align: left;
    margin: 0 0 30px 0;
  }
  .facts-intro h2 hr{
    width: 35%;
  }
  .facts-intro-section{
    height: 250px;
    width: 100%;
    border: 3px solid #eee;
    border-radius: 12px;
    margin: 0 0 15px 0;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* box-shadow: #ddd 0px 2px 8px; */
  }
  .facts-intro-section.clicked {
    box-shadow: #ddd 0px 2px 8px;
    transform: scale(1.05); 
  }
  .facts-intro-section svg{
    width: 40px;
    height: 40px;
    margin: 30px 0 20px 0;
  }
  .facts-intro-section section h4{
    color: #333;
    font-size: large;
    margin: 0 0 20px 0;
  }
  .facts-intro-section section p{
    color: #ccc;
    font-size: 300%;
  }

  /* styles.css */
  #backToTopBtn {
    display: none; /* Hide the button initially */
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #fff;
    /* color: #fff; */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #bbb 0px 2px 8px;
  }
  #backToTopBtn svg{
    width: 30px;
    height: 30px;
  }
  footer{
    background-color: rgb(252, 252, 252);
    border-top: 1px solid #eee;
    text-align: center;
  }
  /* footer section{
    text-align: center;
  } */
  footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    margin: 10px auto 0;
    font-size: small;
  }
  footer p{
    margin: 10px 0 20px 0;
    font-size: small;
  }


  /* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME */
  /* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME */
  .resume{
    text-align: center;
  }



}























/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
