*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4{
  font-weight: bold;
}

#preSection{
  height: 100vh; 
  background-color: #ffffff;
  display: none;
  opacity: 0;
  transition: opacity 1s ease; /* Add a fade-out transition */
}
.pre_svg{
  margin: 45% 25% 0 25%;
  width: 50%;
  height: 50%;
}

#mainSection{
  display: none;
  opacity: 0;
  transition: opacity 1s ease; /* Add a fade-out transition */
}
#section2, #section3, #section4{
  display: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Poppins', sans-serif;
  opacity: 1; /* Firefox */
  padding: 0 0 0 10px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Poppins', sans-serif;
  padding: 0 0 0 10px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Poppins', sans-serif;
  padding: 0 0 0 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  /* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
  /* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
  header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    box-shadow: 0 0 10px 0 #ddd;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header > section{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3%;
  }
  .header_svg{
    width: 30px;
    height: 30px;
  }
  h1{
    font-size: 16px;
  }
  span{
    font-weight: lighter;
  }
  /* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER */
  /* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER *//* HAMBURGER */
  .menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 3%;
  }
  .menu-btn__burger{
    width: 20px;
    height: 3px;
    background: #555;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(243, 239, 239);
    transition: all .2s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #555;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(243, 239, 239);
    transition: all .2s ease-in-out;
  }
  .menu-btn__burger::before{
    transform: translateY(-7px); 
  }
  .menu-btn__burger::after{
    transform: translateY(7px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .menu-content {
    margin-left: 15%;
    padding: 0;
    width: 85%;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    z-index: 2;
    display: none;
    box-shadow: 0 10px 10px #eee;
  }
  .menu-content.visible {
    display: block;
  }
  .menu-content ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: transparent;
  }
  .menu-content svg{
    width: 200%;
    height: 200%;
    opacity: 0.5;
  }
  li a {
    display: block;
    color: #555;
    padding: 8px 16px;
    text-decoration: none;
  }

  
  /* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY */
  /* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY */

  /* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT */
  /* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT *//* ABOUT */
  .about{
    text-align: center;
  }
  .about_main{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .pic_section{
    margin: 50px 0 0 0;
  }
  .profile_img{
    border-radius: 50%;
    box-shadow: 0px 0px 9px 2px #ddd;
    width: 75%;
    margin: 10px 12.5% 15px 12.5%;
  }
  .intro_section{
    text-align: center;
  }
  .intro_section > h1{
    color: #111;
    font-size: 220%;
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 0;
    /* line-height: 1.5; */
    display: flex;
    flex-direction: column;
  }
  .intro_section h1 + p{
    font-size: 90%;
    padding: 0;
    color: #800080;
    width: 80%;
    margin: 0 10% 15px 10%;
    font-weight: 500;
  }
  .intro_section h1 span{
    font-weight: bold;
  }
  .intro_section > h5{
    text-align: left;
    color: #777;
    width: 95%;
    margin: 0 0 0 5%;
    font-size: 100%;
    font-weight: lighter;
    line-height: 1.5;
    hyphens: auto;
  }
  .introbutt_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
  }
  .download_cv_btn{
    font-size: 16px;
    color: #800080;
    background-color: #ffffff;
    padding: 10px 30px;
    border: solid #800080 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0;
  }
  .download_cv_btn a{
    color: inherit;
    text-decoration: none;
  }
  .contact_btn{
    font-size: 16px;
    color: #777777;
    background-color: #ffffff;
    padding: 10px 23px;
    border: solid #ccc 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 0 0 0;

  }

  /* SCREEN OVERLAY */  /* SCREEN OVERLAY */  /* SCREEN OVERLAY */  /* SCREEN OVERLAY */
  /* SCREEN OVERLAY */  /* SCREEN OVERLAY */  /* SCREEN OVERLAY */  /* SCREEN OVERLAY */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  #overlayContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .hidden {
    display: none;
    text-align: left;
  }
  #overlayContent h1{
    color: #111;
    font-size: 220%;
    width: 80%;
    margin: 0 20% 15px 0;
  }

  #overlay:not(.hidden) {
    opacity: 1;
    pointer-events: auto;
  }
  .overlayContent_svg{
    width: 20px;
    height: 20px;
    margin: 40px 0 5px 0;
  }
  .overlaySection{
    text-align: left;
  }
  .overlaySection .contact_details_mini_section{
    margin-left: 0;
    width: 100%;
  }

  .under-intro{
    width: 80%;
    margin: 100px 10%;
  }
  .under-intro h2{
    text-align: left;
    margin: 0 0 30px 0;
  }
  .under-intro h2 hr{
    width: 35%;
  }
  .under-intro-mini-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 30px 0;
  }
  .under-intro-mini-section svg{
    width: 40px;
    height: 40px;
  }
  .under-intro-mini-section section{
    width: 80%;
    text-align: left;
  }
  .under-intro-mini-section section h4{
    color: #333;
    font-size: large;
    margin: 0 0 10px 0;
  }
  .under-intro-mini-section section p{
    color: #777;
    hyphens: auto;
  }
  .facts-intro{
    width: 80%;
    margin: 100px 10%;
  }
  .facts-intro h2{
    text-align: left;
    margin: 0 0 30px 0;
  }
  .facts-intro h2 hr{
    width: 35%;
  }
  .facts-intro-section{
    height: 250px;
    width: 100%;
    border: 3px solid #eee;
    border-radius: 12px;
    margin: 0 0 15px 0;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .facts-intro-section.clicked {
    box-shadow: #ddd 0px 2px 8px;
    transform: scale(1.05); 
  }
  .facts-intro-section svg{
    width: 40px;
    height: 40px;
    margin: 30px 0 20px 0;
  }
  .facts-intro-section section h4{
    color: #333;
    font-size: large;
    margin: 0 0 20px 0;
  }
  .facts-intro-section section p{
    color: #ccc;
    font-size: 300%;
  }

  #backToTopBtn {
    display: none; /* Hide the button initially */
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #bbb 0px 2px 8px;
  }
  #backToTopBtn svg{
    width: 30px;
    height: 30px;
  }
  footer{
    background-color: rgb(252, 252, 252);
    border-top: 1px solid #eee;
    text-align: center;
  }
  footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    margin: 10px auto 0;
    font-size: small;
  }
  footer p{
    margin: 10px 0 0 0;
    padding: 0 0 20px 0;
    font-size: small;
  }


  /* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME */
  /* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME *//* RESUME */
  .resume{
    text-align: center;
  }
  .resume_first{
    background-color: rgb(252, 252, 252);
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  .resume_first section{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 30px 0;
  }
  .resume_first section h1{
    color: #111;
    font-size: 250%;
    margin: 0 0 0 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 700;
  }
  .resume_first section p{
    font-size: 85%;
    padding: 0 0 0 0;
    color: #999;
    margin: 0 0 0 0;
  }

  /* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO */
  /* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO *//* PORTFOLIO */
  .portfolio{
    text-align: center;
  }
  .portfolio_first{
    background-color: rgb(252, 252, 252);
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  .portfolio_first section{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 30px 0;
  }
  .portfolio_first section h1{
    color: #111;
    font-size: 250%;
    margin: 0 0 0 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 700;
  }
  .portfolio_first section p{
    font-size: 85%;
    padding: 0 0 0 0;
    color: #999;
    margin: 0 0 0 0;
  }




  /* CONTACT */ /* CONTACT */  /* CONTACT */ /* CONTACT */  /* CONTACT */ /* CONTACT */  /* CONTACT */ /* CONTACT */  /* CONTACT */ /* CONTACT */
  /* CONTACT */ /* CONTACT */  /* CONTACT */ /* CONTACT */  /* CONTACT */ /* CONTACT */  /* CONTACT */ /* CONTACT */  /* CONTACT */ /* CONTACT */
  .contact{
    text-align: center;
  }
  .contact_first{
    background-color: rgb(252, 252, 252);
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  .contact_first section{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 30px 0;
  }
  .contact_first section h1{
    color: #111;
    font-size: 250%;
    margin: 0 0 0 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 700;
  }
  .contact_first section p{
    font-size: 85%;
    padding: 0 0 0 0;
    color: #999;
    margin: 0 0 0 0;
  }
  .contact_details{
    width: 80%;
    margin: 30px 10%;
    text-align: left;
  }
  .contact_details_mini_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 30px 0;
  }
  .contact_details_mini_section svg{
    width: 40px;
    height: 40px;
  }
  .contact_details_mini_section section{
    width: 80%;
  }
  .contact_details_mini_section section p{
    color: #999;
    font-size: 90%;
  }
  .message_section{
    width: 80%;
    margin: 100px 10%;
  }
  .message_section h2{
    text-align: left;
    margin: 0 0 30px 0;
  }
  .message_section h2 hr{
    width: 35%;
  }
  .message_section_form_section form {
    width: 100%;
    
  }
  .form_section_input{
    width: 98%;
    border-radius: 5px;
    border: 3px solid #ddd;
    transition: border-color 1s ease;
  }
  .form_section_input:focus{
    border-color: #800080; /* Change border color when input is focused */
    outline: none; /* Remove default focus outline */
  }
  .message_section_form_section form input{
    height: 40px;
  }
  .form_section_input_button{
    font-size: 16px;
    color: #800080;
    background-color: #ffffff;
    padding: 10px 30px;
    border: solid #800080 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    cursor: pointer;
  }
  
}








































/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
